.login-section{
    position:relative;
    width: 40%;
    padding: 2rem 0;
    border: 1px solid #88ce36 ;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
}

.from-group{
    width: 100%;
}

.login-section h3{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 2rem;
  color: #88ce36;
  margin-bottom: 5vh;
  text-align: center;
}

.input-block{
  margin-bottom: 1vh;
  text-align: center;
}

input[type=button], input[type=submit], input[type=reset]  {
    background-color: coral;
    width: 100%;
    border:none;
    color: white;
    padding: 15px 80px;
    margin-top: 2vh;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 coral;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.3s ease-in-out;
  }
  
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: coral;
  }

/* input[type=text],[type=password]{
    background-color: #f6f6f6;
    width: 75%;
    font-size: 1rem;
    padding: 15px;
    margin-top: 1vh;
    text-decoration: none;
    display: inline-block;
    border:none;
    border: 2px solid #f6f6f6;
    color: #0d0d0d;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
} */

/* input[type=text]:focus {
    background-color: #f6f6f6;
    border-bottom: 2px solid coral;
  } */
/* 
input[type=password]:focus {
    background-color: #f6f6f6;
    border-bottom: 2px solid coral;
  } */
  
  /* input[type=text]:placeholder {
    color: #cccccc;
  } */

  .err-alert{
    display: flex;
    align-items: flex-start;
    margin-left: 14%;
    color: rgb(235, 138, 122);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }

  button{
    width: 30%;
    font-size: 1rem;
    padding: 15px;
    text-decoration: none;
    border: 2px solid #f6f6f6;
    color: #0d0d0d;
    margin-top: 2vh;
    box-shadow: 0 10px 30px 0 rgba(180, 193, 199, 0.4);
    border-radius: 5px 5px 5px 5px;
    transition: all 0.5s ease-in-out;
  }

  .btn-deactive{
    background-color: rgb(206, 207, 211);
    color: rgb(138, 143, 132)
  }

  .btn-active{
    font-size: 1rem;
    background-color: coral;
    color:white
  }

  .btn-active:hover  {
    background-color: rgb(247, 99, 46);
  }

 
@media only screen and (max-width:600px){
  .login-section{
    width: 80%;
  }
}